<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:util="http://www.springframework.org/schema/util"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-4.3.xsd">

	<bean id="helloWorld" class="com.atguigu.spring.beans.HelloWorld">
		<property name="name2" value="Spring"></property>
	</bean>
	<bean id="car_audi" class="com.atguigu.spring.beans.Car">
		<constructor-arg value="Audi" index="0"></constructor-arg>
		<constructor-arg index="1">
		<value><![CDATA[<ShangHai"]]></value>
		</constructor-arg>
		<constructor-arg value="300000" type="double"></constructor-arg>		
	</bean>
	<bean id="car_bmw" class="com.atguigu.spring.beans.Car">
		<constructor-arg value="BMW" index="0"></constructor-arg>
		<constructor-arg value="ShangHai" index="1"></constructor-arg>
		<constructor-arg value="240" type="int"></constructor-arg>
	</bean>
	<bean id="person" class="com.atguigu.spring.beans.Person">
		<property name="name" value="Tom"></property>
		<property name="age" value="24"></property>
		<!-- 
		<property name="car" ><null/></property>
		 -->
		<property name="car" ref="car_bmw"></property>		
	</bean>
	<bean id="person2" class="com.atguigu.spring.beans.Person">
		<property name="name" value="Jerry"></property>
		<property name="age" value="25"></property>
		<property name="car">
		<bean class="com.atguigu.spring.beans.Car">
			<constructor-arg value="Ford" ></constructor-arg>
			<constructor-arg value="ChangAn" ></constructor-arg>
			<constructor-arg value="200000" ></constructor-arg>
		</bean>
		</property>
		<property name="car.maxSpeed" value="250"></property>
	</bean>
	 
	<bean id="person3" class="com.atguigu.spring.beans.Person">
		<constructor-arg value="Hank"></constructor-arg>
		<constructor-arg value="45"></constructor-arg>
		<constructor-arg ref="car_audi"></constructor-arg>
		<property name="car.maxSpeed" value="260"></property>
	</bean>
	
	<bean id="person4" class="com.atguigu.spring.beans.collections.Person">
		<property name="name" value="Mike"></property>
		<property name="age" value="27"></property>
		<property name="cars">
		<list>
			<ref bean="car_audi" ></ref>
			<ref bean="car_bmw" ></ref>	
			<bean class="com.atguigu.spring.beans.Car">
				<constructor-arg value="Ford" ></constructor-arg>
				<constructor-arg value="ChangAn" ></constructor-arg>
				<constructor-arg value="200000" ></constructor-arg>
			</bean>		
		</list>
		</property>		
	</bean>
	
	<bean id="newPerson" class="com.atguigu.spring.beans.collections.NewPerson">
		<property name="name" value="Rose"></property>
		<property name="age" value="24"></property>
		<property name="cars">
		<map>
			<entry key="AA" value-ref="car_audi"></entry>
			<entry key="BB" value-ref="car_bmw"></entry>
		</map>
		</property>		
	</bean>
	
	<bean id="dataSource" class="com.atguigu.spring.beans.collections.DataSource">
		<property name="properties">
			<props>
				<prop key="user">root</prop>
				<prop key="password">1234</prop>
				<prop key="jdbcUrl">jdbc:mysql:///test</prop>
				<prop key="driverclass">com.mysql.jdbc.Driver</prop>
			</props>
		</property>
	</bean>
	
	<util:list id="cars">
		<ref bean="car_bmw"/>
		<ref bean="car_audi"/>
	</util:list>
	
	<bean id="person5" class="com.atguigu.spring.beans.collections.Person">
		<property name="name" value="Jack"></property>
		<property name="age" value="26"></property>
		<property name="cars" ref="cars"></property>
	</bean>
	
	<bean id="person6" class="com.atguigu.spring.beans.collections.Person" p:age="30" 
		p:name="Queen" p:cars-ref="cars"></bean>
		
</beans>
